#myheader a{
        color: white;
        background-color: #c30006;
        clear: left;
        font-size: 30px;
        font-family: Century Gothic, san-serif;
       
        text-shadow: 2px 2px 4px #000000;
       


      }
#myheader p{
        color: white;
        background-color: #c30006;
        clear: left;
        font-size: 10px;
        font-family: Century Gothic, san-serif;
    
        margin-left:40px;
        text-shadow: 2px 2px 4px #000000;


      }
#myheader{
        padding: 0em;
        color: white;
        background-color: #c30006;
        clear: left;
        height: 80px;

      }
.nav-item:hover .dropdown-menu {
display: block;
}

.carousel-caption {
    top: 30%;
    bottom: auto;
}

.carousel-item{
    height:500px;
    background-repeat: round;
}
.carousel-item h2{
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}
.lead{
    color:white;
    text-shadow: 2px 2px 4px #000000;

}
#sample{
        width: 250px;
        height: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
      }
#myfooter{
    color:white;
    background-color: #373A3C;
    clear:left;

}
#myfooter a{
    color:white;
    background-color: #373A3C;
    clear:left;
    font-family: Century Gothic, san-serif;
}

.btn-danger{
    background-color:#c30006;
}

.jumbotron{
        color: white;
        text-align: center;
        background-repeat: round;
        text-shadow: 2px 2px 4px #000000;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jumbotron h1{
        font-size: 50px;
}

#headertext{
    font-size: 17px;
}

#gaming-jumbotron{
    background-image: url("../images/lol_cover.jpg");
}

#services-jumbotron{
    background-image: url("../images/services_cover.jpg");
}

#promos-jumbotron{
    background-image: url("../images/dp.jpg");
}

#about-jumbotron{
    background-image: url("../images/about.jpg");
}

#online-games{
    text-align: center;
}

#offline-games{
    text-align: center;
}


#contact-jumbotron{
    background-image: url("../images/.jpg");
}
.gametable{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
.gametable img{
    height: 115px;
    width: 115px;

}

.table-secondary{
    text-align: center;
}

.fa-globe{
    font-size: 150px;
    
}
.fa-cloudscale{
    font-size: 150px;
}
.fa-fax{
    font-size: 150px;
}
.fa-print{
    font-size: 150px;
}
.fa-file-archive{
    font-size: 150px;
}
.fa-copy{
    font-size: 150px;
}
.fa-utensils{
    font-size: 150px;
}
.fa-shekel-sign{
    font-size: 60px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;


}
.fa-shekel-sign a{
    text-decoration: none;
   
}