table{
      	 border-spacing: 10px;
      }

td{
      	padding: 40px;
      }

img{
      	width: 115px;
      	height: 115px;
      }
.gametable{
	background-color:	#8585ad;

h1{
	text-align: center;
}

#para{
    font color: white;
}
