#sample{
        width: 250px;
        height: 250px;
      }

.header{
        padding: 1em;
        color: white;
        background-color: grey;
        clear: left;

      }
.jumbotron{
      	color: white;
        text-align: center;
        background-image: url("images/lol_cover.jpg");
        background-repeat: round;
      }

.item{
      	text-align: center;
      }

.footer{
        position: fixed;
        bottom: 0;
        text-align: center;
      }
body{
  background-image: url(images/Galaxy-BG.jpg);
}