#sample{
        width: 250px;
        height: 250px;
      }

.header{
        padding: 1em;
        height: auto;
        width: 100%;
        color: white;
        background-image: url(images/Galaxy-BG.jpg);
        background-size: auto;
        }
.jumbotron{
      	color: white;
        text-align: center;
        background-image: url("images/lol_cover.jpg");
        background-repeat: round;
      }

.item{
      	text-align: center;
      }

.footer{
        position: fixed;
        bottom: 0;
        text-align: center;
      }

.gametable {
  padding-left: 20px;
}

.w3-container{
  width: 75%;
  margin: auto;
}

.column {
    width: 75%;
    margin: auto;
}

body{
  background-color: #222326;
  height: auto;
  background-repeat: no-repeat;
}